@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.theme-transition *,
.theme-transition *::before,
.theme-transition *::after {
  transition: background-color 0.6s ease, color 0.6s ease,
    border-color 0.6s ease !important;
}

html {
  scroll-behavior: smooth;
  transition: background-color 0.6s ease;
}

* {
  scrollbar-width: thin;
}
